<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layoutPage.html">
<div layout:fragment="content">
    <h4 class="text-center">ADMIN PANEL</h4>
    <div class="row mt-2">
        <div class="col-8 mx-auto">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>EMAIL</th>
                    <th>FULL NAME</th>
                    <th>AGE</th>
                    <th>DETAILS</th>
                </tr>
                </thead>
                <tbody id="usersTableBody">
                </tbody>
            </table>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <input type="hidden" id="deleteUserId">
                <input type="hidden" id="currentUserEmail" th:value="${#authentication.name}">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">USER DETAILS</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row mt-2">
                        <div class="col-12">
                            <label>EMAIL:</label>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <input class="form-control" type="text" id="userEmail" readonly>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <label>FULL NAME:</label>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <input class="form-control" type="text" id="userFullName" readonly>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <label>AGE:</label>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <input class="form-control" type="text" id="userAge" readonly>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <label>ROLES:</label>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <select class="form-control" id="userRoles" readonly></select>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" id="deleteButton" class="btn btn-danger" onclick="deleteUser()">DELETE</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal modal-sm fade" id="rolesDetailsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modalLabelExample">USER ROLE</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="row mt-2">
                        <div class="col-12">
                            <label>USER:</label>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <input class="form-control" type="text" id="userName" readonly>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <label>ROLES:</label>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <select class="form-control" id="giveUserRoles"></select>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CANCEL</button>
                    <button type="button" class="btn btn-primary">GIVE</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        loadUsers();
        function loadUsers(){
            const httpRequest = new XMLHttpRequest();
            httpRequest.open("GET", "/users", true);
            httpRequest.onreadystatechange = function (){
                if(httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200){

                    let userList = JSON.parse(httpRequest.responseText);

                    let innerContent = "";
                    for (let i = 0; i < userList.length; i++){
                        innerContent+="<tr>";
                        innerContent+="<td>"+userList[i].id+"</td>";
                        innerContent+="<td>"+userList[i].email+"</td>";
                        innerContent+="<td>"+userList[i].fullName+"</td>";
                        innerContent+="<td>"+userList[i].age+" y.o.</td>";
                        innerContent+="<td><a class='dropdown-toggle btn btn-sm btn-success' data-bs-toggle='dropdown' " +
                            "role='button' aria-expanded='false'>DETAILS</a>";
                        innerContent+="<ul class='dropdown-menu'>";
                        innerContent+="<li><a class='dropdown-item' href='#' onclick='openUsersDetailsModal("+userList[i].id+")'>DETAILS</a></li>";
                        innerContent+="<li><a class='dropdown-item' href='#' onclick='openUsersRolesModal("+userList[i].id+")'>GIVE ROLE</a></li>";
                        innerContent+="</ul></td></tr>";          }
                    document.getElementById("usersTableBody").innerHTML = innerContent;
                }
            }
            httpRequest.send();
        }

        function openUsersDetailsModal(id){
            detailsModal = new bootstrap.Modal(document.getElementById('detailsModal'));

            const httpRequest = new XMLHttpRequest();
            httpRequest.open("GET", "/users/"+id, true);
            httpRequest.onreadystatechange = function (){
                if(httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200){
                    let result = JSON.parse(httpRequest.responseText);
                    let currentUserName = document.getElementById("currentUserEmail");
                    userEmail.value = result.email;
                    userFullName.value = result.fullName;
                    userAge.value = result.age;
                    deleteUserId.value = result.id;

                    let innerSelectRoles = "";
                    for (let i = result.permissionList.length - 1; i >= 0 ; i--) {
                        innerSelectRoles += "<option>"+result.permissionList[i].role+"</option>"
                    }
                    document.getElementById("userRoles").innerHTML = innerSelectRoles;

                    let deleteButton = document.getElementById("deleteButton");
                    if(currentUserName.value === result.email){
                        deleteButton.style.display = "none";
                    }else {
                        deleteButton.style.display = "block";
                    }

                    detailsModal.show();
                }
            }
            httpRequest.send();
        }

        function openUsersRolesModal(id){
            rolesDetailsModal = new bootstrap.Modal(document.getElementById('rolesDetailsModal'));

            const httpRequest = new XMLHttpRequest();
            httpRequest.open("GET", "/users/"+id, true);
            httpRequest.onreadystatechange = function (){
                if(httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200){
                    let result = JSON.parse(httpRequest.responseText);
                    userName.value = result.fullName;

                    let innerSelectRoles = "";
                    for (let i = 0; i < result.permissionList.length; i++) {
                        innerSelectRoles += "<option>"+result.permissionList[i].role+"</option>"
                    }
                    document.getElementById("giveUserRoles").innerHTML = innerSelectRoles;

                    rolesDetailsModal.show();
                }
            }
            httpRequest.send();
        }

        function deleteUser(){

            let userId = document.getElementById("deleteUserId")

            const httpRequest = new XMLHttpRequest();
            httpRequest.open("DELETE", "/users/" + userId.value, true);


            httpRequest.onreadystatechange = function (){
                if(httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200){
                    detailsModal.hide();
                    loadUsers();
                }
            }
            httpRequest.send();

        }
    </script>
</div>
</html>