<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layoutPage.html">
<div layout:fragment="content">
    <h4 class="text-center">ADMIN PANEL</h4>
    <div class="row mt-2">
        <div class="col-8 mx-auto">
            <a href="/product-request-page"
               class="btn btn-sm btn-outline-primary float-end">Product Requests</a>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>EMAIL</th>
                    <th>FULL NAME</th>
                    <th>AGE</th>
                    <th>DETAILS</th>
                </tr>
                </thead>
                <tbody id="usersTableBody">
                </tbody>
            </table>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <input type="hidden" id="deleteUserId">
                <input type="hidden" id="currentUserEmail" th:value="${#authentication.name}">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">USER DETAILS</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row mt-2">
                        <div class="col-12">
                            <label>EMAIL:</label>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <input class="form-control" type="text" id="userEmail" readonly>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <label>FULL NAME:</label>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <input class="form-control" type="text" id="userFullName" readonly>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <label>AGE:</label>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <input class="form-control" type="text" id="userAge" readonly>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <label>ROLES:</label>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <select class="form-control" id="userRoles" readonly></select>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" id="deleteButton" class="btn btn-danger" onclick="deleteUser()">DELETE</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal modal-sm fade" id="rolesDetailsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modalLabelExample">USER ROLE</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <input type="hidden" id="userId">
                    <input type="hidden" id="email">
                    <input type="hidden" id="age">
                    <input type="hidden" id="money">
                    <input type="hidden" id="password">
                    <div class="row mt-2">
                        <div class="col-12">
                            <label>USER:</label>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <input class="form-control" type="text" id="userName" readonly>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <label>ROLES:</label>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="userRadio" checked>
                                    <label class="form-check-label" for="userRadio">USER</label>
                                </li>
                                <li class="list-group-item">
                                    <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="sellerRadio">
                                    <label class="form-check-label" for="sellerRadio">SELLER</label>
                                </li>
                                <li class="list-group-item">
                                    <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="adminRadio">
                                    <label class="form-check-label" for="adminRadio">ADMIN</label>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CANCEL</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                            onclick="changeUserRoles()">GIVE</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        loadUsers();
        function loadUsers(){
            const httpRequest = new XMLHttpRequest();
            httpRequest.open("GET", "/users", true);
            httpRequest.onreadystatechange = function (){
                if(httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200){

                    let userList = JSON.parse(httpRequest.responseText);

                    let innerContent = "";
                    for (let i = 0; i < userList.length; i++){
                        innerContent+="<tr>";
                        innerContent+="<td>"+userList[i].id+"</td>";
                        innerContent+="<td>"+userList[i].email+"</td>";
                        innerContent+="<td>"+userList[i].fullName+"</td>";
                        innerContent+="<td>"+userList[i].age+" y.o.</td>";
                        innerContent+="<td><div class='btn-group dropend'><a class='dropdown-toggle btn btn-sm btn-success' data-bs-toggle='dropdown' " +
                            "role='button' aria-expanded='false'>MORE</a>";
                        innerContent+="<ul class='dropdown-menu'>";
                        innerContent+="<li><a class='dropdown-item' href='#' onclick='openUsersDetailsModal("+userList[i].id+")'>DETAILS</a></li>";
                        innerContent+="<li><a class='dropdown-item' href='#' onclick='openUsersRolesModal("+userList[i].id+")'>GIVE ROLE</a></li>";
                        innerContent+="</ul></div></td></tr>";          }
                    document.getElementById("usersTableBody").innerHTML = innerContent;
                }
            }
            httpRequest.send();
        }

        function openUsersDetailsModal(id){
            detailsModal = new bootstrap.Modal(document.getElementById('detailsModal'));

            const httpRequest = new XMLHttpRequest();
            httpRequest.open("GET", "/users/"+id, true);
            httpRequest.onreadystatechange = function (){
                if(httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200){
                    let result = JSON.parse(httpRequest.responseText);
                    let currentUserName = document.getElementById("currentUserEmail");
                    userEmail.value = result.email;
                    userFullName.value = result.fullName;
                    userAge.value = result.age;
                    deleteUserId.value = result.id;

                    let innerSelectRoles = "";
                    for (let i = result.permissionList.length - 1; i >= 0 ; i--) {
                        innerSelectRoles += "<option>"+result.permissionList[i].role+"</option>"
                    }
                    document.getElementById("userRoles").innerHTML = innerSelectRoles;

                    let deleteButton = document.getElementById("deleteButton");
                    if(currentUserName.value === result.email){
                        deleteButton.style.display = "none";
                    }else {
                        deleteButton.style.display = "block";
                    }

                    detailsModal.show();
                }
            }
            httpRequest.send();
        }

        function openUsersRolesModal(id){
            rolesDetailsModal = new bootstrap.Modal(document.getElementById('rolesDetailsModal'));

            const httpRequest = new XMLHttpRequest();
            httpRequest.open("GET", "/users/"+id, true);
            httpRequest.onreadystatechange = function (){
                if(httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200){
                    let result = JSON.parse(httpRequest.responseText);

                    userId.value = result.id;
                    userName.value = result.fullName;
                    email.value = result.email;
                    age.value = result.age;
                    money.value = result.money;
                    password.value = result.password;

                    rolesDetailsModal.show();
                }
            }
            httpRequest.send();
        }

        function changeUserRoles(){
            const httpRequest = new XMLHttpRequest();
            httpRequest.open("PUT", "/users", true);
            httpRequest.setRequestHeader("Content-Type", "application/json");

            let userId = document.getElementById("userId")
            let userName = document.getElementById("userName")
            let email = document.getElementById("email")
            let age = document.getElementById("age")
            let money = document.getElementById("money")
            let password = document.getElementById("password")

            let userRadio = document.getElementById("userRadio");
            let sellerRadio = document.getElementById("sellerRadio");
            let adminRadio = document.getElementById("adminRadio");

            if (userRadio.checked) {
                let body = {
                    "id": userId.value,
                    "fullName": userName.value,
                    "email": email.value,
                    "password": password.value,
                    "age": age.value,
                    "money": money.value,
                    "permissionList": [
                        {
                            "id": 1
                        }
                    ]
                }
                body = JSON.stringify(body);
                httpRequest.send(body);
            } else if (sellerRadio.checked) {
                let body = {
                    "id": userId.value,
                    "fullName": userName.value,
                    "email": email.value,
                    "password": password.value,
                    "age": age.value,
                    "money": money.value,
                    "permissionList": [
                        {
                            "id": 1
                        },
                        {
                            "id": 2
                        }
                    ]
                }
                body = JSON.stringify(body);
                httpRequest.send(body);
            } else if (adminRadio.checked) {
                let body = {
                    "id": userId.value,
                    "fullName": userName.value,
                    "email": email.value,
                    "password": password.value,
                    "age": age.value,
                    "money": money.value,
                    "permissionList": [
                        {
                            "id": 1
                        },
                        {
                            "id": 2
                        },
                        {
                            "id": 3
                        }
                    ]
                }
                body = JSON.stringify(body);
                httpRequest.send(body);
            }


            httpRequest.onreadystatechange = function (){
                if(httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200){

                    loadUsers();
                }
            }
        }

        function deleteUser(){

            let userId = document.getElementById("deleteUserId")
            let approve = confirm('Are you sure?')

            if (approve){
                const httpRequest = new XMLHttpRequest();
                httpRequest.open("DELETE", "/users/" + userId.value, true);

                httpRequest.onreadystatechange = function (){
                    if(httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200){
                        detailsModal.hide();
                        loadUsers();
                    }
                }
                httpRequest.send();
            }

        }
    </script>
</div>
</html>