<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="layoutPage.html">

    <div layout:fragment="content">
        <div class="row">
            <div class="col-3 mt-2">
                <div class="card" style="width: 18rem;">
                    <div class="card-body bg-currency-image">
                        <h5 class="card-title">Current USD exchange rates</h5>
                        <table class="table table-hover">
                            <thead>
                            <tr class="card-text mb-2">
                                <th>NAME</th>
                                <th>VALUE</th>
                            </tr>
                            </thead>
                            <tbody id="cardBodyExchange">
                            </tbody>
                        </table>
                        <p class="card-text" id="cardText"></p>
                        <a href="/currency-all" class="btn btn-sm btn-outline-success">See All</a>
                    </div>
                </div>
            </div>
            <div class="col-6 float-end">
                <h2 class="text-center">WELCOME TO SUPER-APP!</h2>
                <input type="hidden" id="newsId">
                <button sec:authorize="isAuthenticated()" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#add-news-modal">
                    +ADD NEWS</button>
                <div>
                    <div class="row mt-2">
                        <div class="col-12" id="newsContentCard">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 mt-2">
                <div class="card" style="width: 18rem;">
                    <div class="card-body bg-image">
                        <h5 class="card-title">CURRENT WEATHER</h5>
                        <table class="table">
                            <thead>
                            <tr class="card-text mb-2">
                                <th>CITY:</th>
                                <th>ALMATY</th>
                            </tr>
                            </thead>
                            <tbody id="cardWeatherBody">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="add-news-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">WHATS NEWS?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                            <div class="row mt-2">
                                <div class="col-12">
                                    <label> TITLE:</label>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-12">
                                    <input class="form-control" type="text"
                                           id="title" placeholder="title..."
                                           required>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-12">
                                    <label> DESCRIPTION:</label>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-12">
                                    <textarea class="form-control" id="description" placeholder="description..."
                                              required></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button class="btn btn-primary" data-bs-dismiss="modal" onclick="addNews()">ADD</button>
                            </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:insert="newsScriptJs.html"></div>
    </div>
</html>