<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layoutPage.html">

<div layout:fragment="content">
  <div sec:authorize="isAuthenticated()">
    <input type="hidden" id="currentUserEmail" th:value="${#authentication.name}">
  </div>
  <input type="hidden" id="productId">
  <input type="hidden" id="userId">
  <div class="row">
    <div class="col-9 mx-auto">
      <h2 class="text-center">AQYL MARKET</h2>

      <div class="alert alert-success alert-dismissible fade show d-none" role="alert" id="reviewAlert">
        Product sent for review to Admin
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>

      <div class="d-flex justify-content-between">
        <button type="button" class="btn btn-sm btn-outline-secondary"
                data-bs-toggle="modal" data-bs-target="#addProductModal"
                sec:authorize="hasAnyRole('ROLE_SELLER')"
                onclick="categoriesInput()">
          +ADD PRODUCT
        </button>
        <a sec:authorize="hasAnyRole('ROLE_ADMIN')" href="/categories-panel" class="btn btn-sm btn-outline-primary">Categories Panel</a>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="ModalLabel">ADD NEW PRODUCT</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" sec:authorize="isAuthenticated()">
              <input type="hidden" id="currentUser">
              <div class="row mt-2">
                <div class="col-12">
                  <label>CATEGORY:</label>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-12">
                  <select class="form-control" id="productCategory">
                  </select>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-12">
                  <label>NAME:</label>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-12">
                  <input class="form-control" type="text" id="productName" required>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-12">
                  <label>DESCRIPTION:</label>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-12">
                  <textarea class="form-control" id="productDescription" required></textarea>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-12">
                  <label>PRICE:</label>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-12">
                  <input class="form-control" type="text" id="productPrice" required>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CANCEL</button>
              <button type="button" class="btn btn-success" data-bs-dismiss="modal" onclick="addProduct()">ADD</button>
            </div>
          </div>
        </div>
      </div>

      <table class="table table-striped">
        <thead>
        <tr>
          <th>ID</th>
          <th>SELLER</th>
          <th>NAME</th>
          <th>PRICE</th>
          <th>DETAILS</th>
        </tr>
        </thead>
        <tbody id="productTableBody">
        </tbody>
      </table>

      <!-- Modal -->
      <div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">PRODUCT DETAILS</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div sec:authorize="!hasAnyRole('ROLE_ADMIN')" th:insert="toInsertModalDetails.html"></div>
            <div sec:authorize="hasAnyRole('ROLE_ADMIN')" th:insert="toInsertModalDetailsAdmin.html"></div>

            <div class="modal-footer" id="modal-footer" sec:authorize="!hasAnyRole('ROLE_ADMIN')">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
            </div>
            <div class="modal-footer" sec:authorize="hasAnyRole('ROLE_ADMIN')">
              <button type="button" class="btn btn-danger" onclick="deleteProduct()">DELETE</button>
              <button type="button" class="btn btn-primary" onclick="updateProduct()">SAVE</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div th:insert="marketScriptJs.html">
  </div>

</div>

</html>