<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layoutPage.html">

<div layout:fragment="content">
    <div class="row">
        <div class="col-9 mx-auto">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>SELLER</th>
                    <th>NAME</th>
                    <th>CATEGORY</th>
                    <th>PRICE</th>
                    <th>DETAILS</th>
                </tr>
                </thead>
                <tbody id="productTableBody">
                </tbody>
            </table>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="permissionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">CONFIRM PERMISSION</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        ARE YOU SURE?
                        <input type="hidden" id="productId">
                        <input type="hidden" id="userId">
                        <input type="hidden" id="sellerNameDetails">
                        <input type="hidden" id="categoryDetails">
                        <input type="hidden" id="productNameDetails">
                        <input type="hidden" id="descriptionDetails">
                        <input type="hidden" id="priceDetails">
                    </div>
                    <div class="modal-footer" id="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal"
                                onclick="handleProduct()">YES</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        loadNotHandledProducts();
        function loadNotHandledProducts(){
            const httpRequest = new XMLHttpRequest();
            httpRequest.open("GET", "/products", true);
            httpRequest.onreadystatechange = function (){
                if(httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200){

                    let productList = JSON.parse(httpRequest.responseText);

                    let tableContent = "";
                    for (let i = 0; i < productList.length; i++){
                        if (!productList[i].handled){
                            tableContent+="<tr>";
                            tableContent+="<td>"+productList[i].id+"</td>";
                            tableContent+="<td>"+productList[i].userProduct.fullName+"</td>";
                            tableContent+="<td>"+productList[i].name+"</td>";
                            tableContent+="<td>"+productList[i].category.name+"</td>";
                            tableContent+="<td>"+productList[i].price+"$</td>";
                            tableContent+="<td><button class='btn btn-sm btn-success' " +
                                "onclick='openProductPermissionModel("+productList[i].id+")'>PASS</button></td>";
                            tableContent+="</tr>";
                        }
                    }
                    document.getElementById("productTableBody").innerHTML = tableContent;
                }
            }
            httpRequest.send();
        }

        function openProductPermissionModel(id){
            permissionModal = new bootstrap.Modal(document.getElementById('permissionModal'));

            const httpRequest = new XMLHttpRequest();
            httpRequest.open("GET", "/products/"+id, true);
            httpRequest.onreadystatechange = function (){
                if(httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200){
                    let result = JSON.parse(httpRequest.responseText);

                    productId.value = result.id;
                    userId.value = result.userProduct.id;
                    sellerNameDetails.value = result.userProduct.fullName;
                    categoryDetails.value = result.category.id;
                    productNameDetails.value = result.name;
                    descriptionDetails.value = result.description;
                    priceDetails.value = result.price;

                    permissionModal.show();
                }
            }
            httpRequest.send();
        }

        function handleProduct(){
            const httpRequest = new XMLHttpRequest();
            httpRequest.open("PUT", "/products", true);
            httpRequest.setRequestHeader("Content-Type", "application/json");

            let productId = document.getElementById("productId")
            let userId = document.getElementById("userId")
            let productName = document.getElementById("productNameDetails")
            let productDescription = document.getElementById("descriptionDetails")
            let productPrice = document.getElementById("priceDetails")
            let productCategory = document.getElementById("categoryDetails")

            httpRequest.onreadystatechange = function (){
                if(httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200){

                    loadNotHandledProducts();
                }
            }

            console.log(userId.value)

            let body = {
                'id': productId.value,
                'name': productName.value,
                'description': productDescription.value,
                'price': productPrice.value,
                "handled": true,
                "category": {
                    "id": productCategory.value
                },
                "userProduct": {
                    "id": userId.value
                }
            }
            body = JSON.stringify(body);
            httpRequest.send(body);
        }
    </script>
</div>
</html>